<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>City</key>
		<string>Seattle</string>
		<key>HourlyForecast</key>
		<array>
			<integer>41</integer>
			<integer>41</integer>
			<integer>41</integer>
			<integer>40</integer>
			<integer>40</integer>
			<integer>40</integer>
			<integer>39</integer>
			<integer>39</integer>
			<integer>39</integer>
			<integer>40</integer>
			<integer>41</integer>
			<integer>43</integer>
			<integer>46</integer>
			<integer>47</integer>
			<integer>48</integer>
			<integer>48</integer>
			<integer>48</integer>
			<integer>47</integer>
			<integer>46</integer>
			<integer>44</integer>
			<integer>43</integer>
			<integer>42</integer>
			<integer>41</integer>
			<integer>40</integer>
		</array>
		<key>Sunrise</key>
		<string>7:49 AM</string>
		<key>Sunset</key>
		<string>4:50 PM</string>
	</dict>
</array>
</plist>
